@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


header {
    background-color: #fff;
    display: inline-block;
    padding: 20px ;
    text-align: left;
    margin: 0 auto;
    border-radius: 14px;
    font-weight: bold;

}

body {
    font-family: 'Poppins', sans-serif;  /* Use a clean and modern font */
    color: #333;                    /* Dark text color for better readability */
    line-height: 1.6;               /* Increase line height for better readability */
    justify-content: center;        /* Center content horizontally */
    align-items: center;
    background-color: #fff;
}

a {
    text-align: right;  /* Align text inside the link to the right */
    display: block;     /* Make the link a block-level element so it can be aligned */
    text-decoration: none;          /* Remove default underline */
    color: #3498db;                 /* Set link color */
    transition: color 0.3s;
}

img {
    height: 120px;
    width: 120px;
}

.logo{
    text-align: left;
    display: flex;
    gap: 10px;
    border: none;
    align-items: center;

}

h1{
    font-family:'Amiri', serif;
    font-size: 32px;
    color: #2b35a9;
    padding-top: 15px;
    line-height: 25px;

}

span {
    font-family:'Amiri', serif;
    font-size: 20px;
    color: #2b35a9;
    text-align: left;
    font-weight: revert;
}

h3{
    font-family:'Amiri', serif;
    font-size: 22px;
    color: #505498;
    padding-top: 90px;
    margin-left: 100px;
}

button {
    padding: 10px;
    margin-top: 10px;
    position: relative;
    vertical-align: center;
}

button:hover{
    background-color: #0e384e; /* Darker background color on hover */
    color: #e3e3e3;            /* Lighter text color on hover */
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#patInfo {
    background-color: #4763b1; /* Red button */
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#bookAppo{
    background-color: #5785ff;
    color: white;
    border: none;
    width: 130px;
    height: 52px;
    border-radius: 15px;
    padding: 2px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    right: 270px;
    top:390px;
}


#logout {
    position: absolute;
    top: 45px;
    right: 10px;
    background-color: #4763b1; /* Red button */
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    float: right;

}

button a {
    color: #FFF;
    text-align: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
}


footer{
    font-family: Dialog sans-serif;
    padding: 20px;
    text-align: center;
    background-color: #cdcdcd;
    border-radius: 13px;
    background-image: url("images/footer.jpg");
    background-size: 1800px 600px;
    background-position: top;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}

.social{
    display: flex;           /* Makes icons appear in a row */
    justify-content: center; /* Centers the icons horizontally */
    gap: 48px;               /* Adjusts spacing between icons */
    margin-top: 20px;        /* Adds space above the icons */
    padding: 12px;
    background-color: transparent;

}
.social a {
    font-size: 40px;
    color: #333;
    text-decoration: none;
    width: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social a:hover {
    color: #3636fa;
    background-color: transparent;
}



/*--------------------BOOKING FORM ---------------*/
.booking {
    background-color: rgba(207, 212, 227, 0.59);
    border: 1px solid rgba(102, 102, 102, 0.32);
    border-radius: 45px;
    margin: 18px;
    padding: 10px;
    box-shadow: 0px 0px 5px #888888,
    0px 0px 25px #888;
    height: 420px;
    width: 520px;
    justify-self: center;
}

.booking h2{
    font-family: 'Amiri' ,sans-serif;
    font-size: 22px;
    text-align: center;
    margin-bottom: 22px;
    top: 99px;
    background: rgba(204, 197, 197, 0.59);
    border-radius: 640px 640px 58px 96px;
    color: #020206;

}
/*
.booking .input {
    position: relative;
    margin-bottom: 20px;
    width: 70%;
    justify-self: center;
    background: #e3e6ef;
}

.booking .input input,
.booking .input select {
    width: 100%;
    line-height: 19px;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    box-sizing: border-box;
    background-color: rgba(179, 179, 179, 0.25);
    text-align: center;
    z-index: 1;
    background: #e3e6ef;
}

.booking .input span {
    position: absolute;
    left: 0;
    font-size: 16px;
    pointer-events: none;
    color: #666;
    transition: all 0.3s ease-in-out;
    text-indent: 8px;
    top:2px;
}

.booking select:focus + span,
.booking select:not([value=""]) + span {
    top: -20px;
    font-size: 14px;
}
.booking select + span{
    color: #0618f8;
    font-size: 14px;
    font-weight: bold;
}


.booking .input input:focus ~ span,
.booking .input select:focus ~ span/*,
.booking .input input:not(:placeholder-shown) ~ span {
    color: #940011;
    font-size: 14px;
  /*  top: -20px!important;
}
.booking .input input:valid ~ span{
    top: -20px!important;

}

.booking .input input[type="text"]:focus {
    border-bottom-color: #940011;
    top:-25px;
}
*/


.booking .input {
    position: relative;
    margin-bottom: 20px;
    width: 70%;
    justify-self: center;
    background: #e1e4ed;
}

.booking .input span {
    position: absolute;
    left: 0;
    font-size: 16px;
    pointer-events: none;
    color: #666;
    transition: all 0.3s ease-in-out;
    text-indent: 8px;
    top:2px;
}


.booking .input input,
.booking .input select {
    width: 100%;
    line-height: 19px;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    box-sizing: border-box;
    background-color: rgb(225, 228, 237);
    text-align: center;
    z-index: 1;
}

.booking .input :is(input, select):focus ~ span,
.booking .input :is(input, select):valid ~ span{
    /* Apply styles to the span when either input or select is focused */
    color: #17193e;
    transform: translateY(-22px);
    transition: all 0.3s ease-in-out;
}



.booking .input input[type="submit"] {
    font-family: Poppins sans-serif;
    right: -95px;
    font-weight: normal;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    background: #368836;
    box-shadow: 0px 0px 5px #fff,
    0px 0px 5px #fff;
    border-radius: 35px;
    border: none;
    width: 150px;
    justify-items: center!important;

}

.booking .input input[type="submit"]:hover {
    background: #3cc33c;
    cursor: pointer;

}




