@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


header {
    background-color: #fff;
    display: inline-block;
    padding: 20px ;
    text-align: left;
    margin: 0 auto;
    border-radius: 14px;
    font-weight: bold;

}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

a {
    text-align: right;
    display: block;
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s;
}

img {
    height: 120px;
    width: 120px;
}

.logo{
    text-align: left;
    display: flex;
    gap: 10px;
    border: none;
    align-items: center;


}

h1{
    font-family:'Amiri', serif;
    font-size: 32px;
    padding-top: 15px;
    line-height: 25px;
    color: #3258be !important;


}

span {
    font-family:'Amiri', serif;
    font-size: 20px;
    color: #3258be !important;
    text-align: left;
    font-weight: revert;
}

h3{
    font-family:'Amiri', serif;
    font-size: 28px;
    color: #505498;
    padding-top: 90px;
    /*  margin-left: 100px;*/
    padding-left:190px ;
    margin-bottom: 80px;

}

button {
    padding: 10px;
    margin-top: 10px;
    position: relative;
    vertical-align: center;
}

button:hover{
    background-color: #0e384e;
    color: #e3e3e3;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#patInfo {
    background-color: #9397dd;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.3s ease;
    right: -32px;
}

#logout {
    position: absolute;
    top: 45px;
    right: 75px;
    background-color: #4763b1;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    float: right;

}

button a {
    color: #FFF;
    text-align: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
}



footer{
    font-family: Dialog sans-serif;
    padding: 20px;
    text-align: center;
    background-color: #cdcdcd;
    border-radius: 13px;
    background-image: url("images/footer.jpg");
    background-size: 1800px 440px;
    background-position: top;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    height: 43vh;
}

.social{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 20px;
    padding: 12px;
    background-color: transparent;

}
.social a {
    font-size: 40px;
    color: #333;
    text-decoration: none;
    width: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social a:hover {
    color: #3636fa;
    background-color: transparent;
}



#patInfo {
    background-color: #9397dd;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.3s ease;
    right: -32px;
}


/*--------------------BOOKING FORM ---------------*/
.booking {
    background-color: rgba(207, 212, 227, 0.59);
    border: 1px solid rgba(102, 102, 102, 0.32);
    border-radius: 45px;
    margin: 18px;
    padding: 10px;
    box-shadow: 0px 0px 5px #888888,
    0px 0px 25px #888;
    width: 520px;
    justify-self: center;
    height: 490px;
}
/*
#spec {
    height: 100%;
    border-radius: 27px;
}*/
.booking h2 {
    font-family: 'Amiri' ,sans-serif;
    font-size: 22px;
    text-align: center;
    margin-bottom: 17px;
    /*  top: 109px;
    background: rgba(223, 223, 223, 0.59); */
    background-image: linear-gradient( #ffffff,#e1e4ed);
    border-radius: 640px 640px 58px 96px;
    color: #020206;

}

.booking .input {
    position: relative;
    margin-bottom: 20px;
    width: 70%;
    justify-self: center;
    background: #e1e4ed;
}

.booking .input span {
    position: absolute;
    left: 0;
    font-size: 16px;
    pointer-events: none;
    color: #666;
    transition: all 0.3s ease-in-out;
    text-indent: 8px;
    top:2px;
}


.booking .input input,
.booking .input select {
    width: 100%;
    line-height: 19px;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    box-sizing: border-box;
    background-color: rgb(225, 228, 237);
    text-align: center;
    z-index: 1;
}

.booking .input :is(input, select):focus ~ span,
.booking .input :is(input, select):valid ~ span{

    color: #17193e;
    transform: translateY(-22px);
    transition: all 0.3s ease-in-out;
}



.booking .input input[type="submit"] {
    position: absolute;
    top: 10px;
    right: 85px;
    background-color: #259c28;
    color: white;
    border: none;
    border-radius: 22px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 167px;


}

.booking .input input[type="submit"]:hover {
    background: #3cc33c;
    cursor: pointer;

}

.booking #Submit_Spec{
    position: absolute;
    right: 552px;
    background-color: #259c28;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;


}

.booking #submitButton {
    position: absolute;
    top: 5px;
    right: 85px;
    background-color: #259c28;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 167px;
}

.booking #submitButton:hover {
    background: #3cc33c;
    cursor: pointer;
}

.Submit_Spec {
    background-color: #259c28;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 7px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 105px;
    margin-bottom: 22px;
}

