header {
    overflow: hidden;
    background-color: #c1c1c1;
    padding: 20px ;
    text-align: center;
    border-radius: 14px;
}
body {
    font-family: Arial, sans-serif;  /* Use a clean and modern font */
    background-color: #f4f4f4;      /* Light background color */
    color: #333;                    /* Dark text color for better readability */
    line-height: 1.6;               /* Increase line height for better readability */
    justify-content: center;        /* Center content horizontally */
    align-items: center;            /* Center content vertically */
 display: flex;
}

#booking {
    max-width: 700px;
    display: inline;
    width:100%;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;

}





